@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500.600;700&display=swap");
*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-padding-top: 2rem;
scroll-behavior: smooth;
list-style: none;
text-decoration: none;
font-family:"poppins", sans-serif;
}
:root{
	--main-color:#3d70fe;
	--sedond-color:#3892ff;
	--text-color:#444;
	--gradient:linear-gradient(#3d70fe, #ffac38);
}
html::-webkit-scrollbar{
	width: 0.5rem;
}
html::-webkit-scrollbar-track{
	background:transparent;
}
html::-webkit-scrollbar-thumb{
background:var(--main-color);
	border-radius: 5rem;
}
section{
padding:50px 100px;
}
header{
position: fixed;
width:100%;
top: 0;
right: 0;
z-index:1000;
display:flex;
align-items: center;
justify-content: space-between;
background:#fbfbfc;
padding: 20px 100px;

}


.navbar{
	display: flex;
}	
.navbar li{
	position: relative;
}
.navbar a{
	font-size: 1rem;
	padding:10px 20px;
	color: var(--text-color);
	font-weight: 500;
}
.navbar a::after{
	content: '';
	width: 0;
	height: 3px;
	background: var(--gradient);
	position: absolute;
	bottom: -4px;
	left:0;
	transition: 0.5s;
}
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }





